@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #bcbcbc;
}

#sidebar::-webkit-scrollbar {
  width: 0;
}

#sidebar:hover::-webkit-scrollbar {
  width: 16px;
}

#videoDetailPlayer iframe {
  width: 100%;
  height: 100%;
}

#channelSectionsMenu::-webkit-scrollbar {
  height: 0;
}

/* Windows 11 overflow issue solution */
@media screen and (width: 1396.36px) {
  body {
    zoom: 0.75;
  }
}